# Node.js with React
# Build a Node.js project that uses React.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

parameters:
  - name: dev
    type: boolean
    default: false
    displayName: "Publish pre-release versions"

variables:
  REPO_URL: github.com/dp-test-org-1/beachball-testing
  BRANCH_NAME: $[replace(variables['Build.SourceBranch'], 'refs/heads/', '')]
  myGlobalVar: "GlobalValue"

trigger:
  - main

pool:
  vmImage: ubuntu-latest

stages:
- stage: Build
  jobs:
  - job: BuildJob
    steps:
    - script: echo $(myGlobalVar)

- stage: Deploy
  dependsOn: Build
  condition: ${{eq(parameters.dev, false)}}
  jobs:
  - job: DeployJob
    steps:
    - script: echo $(myGlobalVar)

- stage: XYZ
  jobs:
    - job:
      steps:
        - script: echo "XYZ"